body {
  background-color: #202125;
}
h1 {
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  color: #f2f2f2;
  text-align: center;
  font-weight: bold;
}
p {
  color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 20px;
}

/* NAVBAR STYLING STARTS */

.navbar {

 display: flex;

 align-items: center;

 justify-content: space-between;

 padding: 20px;

 background-color: teal;

 color: #fff;

}

.nav-links a {

 color: #fff;

}

